
.moreText1{
    display: none;
}
.text1.show-more1 .moreText1{
    display: inline;
}
.text1.show-more1 .dot1{
    display: none;
}

.moreText2{
    display: none;
}
.text2.show-more2 .moreText2{
    display: inline;
}
.text2.show-more2 .dot2{
    display: none;
}

.moreText3{
    display: none;
}
.text3.show-more3 .moreText3{
    display: inline;
}
.text3.show-more3 .dot3{
    display: none;
}

.moreText4{
    display: none;
}
.text4.show-more4 .moreText4{
    display: inline;
}
.text4.show-more4 .dot4{
    display: none;
}

.moreText5{
    display: none;
}
.text5.show-more5 .moreText5{
    display: inline;
}
.text5.show-more5 .dot5{
    display: none;
}



.moreText6{
    display: none;
}
.text6.show-more6 .moreText6{
    display: inline;
}
.text6.show-more6 .dot6{
    display: none;
}

.moreText7{
    display: none;
}
.text7.show-more7 .moreText7{
    display: inline;
}
.text7.show-more7 .dot7{
    display: none;
}


.moreText8{
    display: none;
}
.text8.show-more8 .moreText8{
    display: inline;
}
.text8.show-more8 .dot8{
    display: none;
}

.moreText9{
    display: none;
}
.text9.show-more9 .moreText9{
    display: inline;
}
.text9.show-more9 .dot9{
    display: none;
}

.moreText10{
    display: none;
}
.text10.show-more10 .moreText10{
    display: inline;
}
.text10.show-more10 .dot10{
    display: none;
}


.moreText11{
    display: none;
}
.text11.show-more11 .moreText11{
    display: inline;
}
.text11.show-more11 .dot11{
    display: none;
}

.moreText12{
    display: none;
}
.text12.show-more12 .moreText12{
    display: inline;
}
.text12.show-more12 .dot12{
    display: none;
}

.moreText13{
    display: none;
}
.text13.show-more13 .moreText13{
    display: inline;
}
.text13.show-more13 .dot13{
    display: none;
}

.moreText14{
    display: none;
}
.text14.show-more14 .moreText14{
    display: inline;
}
.text14.show-more14 .dot14{
    display: none;
}

.moreText15{
    display: none;
}
.text15.show-more15 .moreText15{
    display: inline;
}
.text15.show-more15 .dot15{
    display: none;
}



.moreText16{
    display: none;
}
.text16.show-more16 .moreText16{
    display: inline;
}
.text16.show-more16 .dot16{
    display: none;
}

.moreText17{
    display: none;
}
.text17.show-more17 .moreText17{
    display: inline;
}
.text17.show-more17 .dot17{
    display: none;
}


.moreText18{
    display: none;
}
.text18.show-more18 .moreText18{
    display: inline;
}
.text18.show-more18 .dot18{
    display: none;
}

.moreText19{
    display: none;
}
.text19.show-more19 .moreText19{
    display: inline;
}
.text19.show-more19 .dot19{
    display: none;
}